os:
  - linux
  - osx

language: c
sudo: required

services:
  - docker

env:
  global:
    secure: "GjbAskNQDToMpTQ87p2TcG+JPdr+TIyWxarkzwd/KCQLuJqTKVVinWtKZwB+uaEnz2mmnXT7jFgbUU2Vuq0Dv78SOgTnqeh+ObP60imN4z8TB88PAFihv7JDJ45Nfbe7viKrWLWDYRebkObbJduc7xms0YEb9vs4e1+knTojiEc="

install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      docker pull rmcgibbo/centos5-build-box;
    fi

script:
  - if [[ "${TRAVIS_PULL_REQUEST}" == "false" && "${TRAVIS_BRANCH}" == "master" ]]; then
        export UPLOAD="--upload omnia";
    else
        export UPLOAD=" ";
    fi

  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then

        docker run -e UPLOAD -e BINSTAR_TOKEN
            -t -i --rm -v `pwd`:/io rmcgibbo/centos5-build-box:latest
            bash /io/devtools/docker-build.sh;

    elif [[ "$TRAVIS_OS_NAME" == "osx" ]]; then

        curl -s -O https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh;
        bash Miniconda3-latest-MacOSX-x86_64.sh -b -p $HOME/anaconda;
        export PATH=$HOME/anaconda/bin:$PATH;
        conda config --add channels omnia;
        conda install -yq conda-build jinja2 anaconda-client;

        if python conda-build-all --check-against omnia --no-build openmm; then
            brew install -y doxygen;
            curl -O -s http://developer.download.nvidia.com/compute/cuda/7_0/Prod/network_installers/mac/cuda_mac_installer_tk.tar.gz ;
            curl -O -s http://developer.download.nvidia.com/compute/cuda/7_0/Prod/network_installers/mac/cuda_mac_installer_drv.tar.gz ;
            sudo tar -zxf cuda_mac_installer_tk.tar.gz -C /;
            sudo tar -zxf cuda_mac_installer_drv.tar.gz -C /;
        fi;

        conda-build-all --check-against omnia $UPLOAD *;
    fi
